<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
 "-//Hibernate/Hibernate Mapping DTD//EN"
 "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">



<hibernate-configuration>

	<session-factory name="java:hibernate/SessionFactory">
		<mapping class="Hibernate_Eclipse.com.hibernate.model.SalesEntry" />
	</session-factory>

	<session-factory name="java:hibernate/SessionFactory">
		<mapping class="Hibernate_Eclipse.com.hibernate.model.ProductTable" />
	</session-factory>

</hibernate-configuration>

